    <!-- Body Image -->
    <div class="slider-frame">
        <div class="slide-images">
            <div class="img-container">
                <img class="bred-toe" src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Travis-Scott-Product.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1550180948" alt="">
            </div>
            <div class="img-container">
                <img class="off-white" src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Off-White-White-Product.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
            </div>
            <div class="img-container">
                <img class="clay" src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Clay-Green-Product.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1538080256" alt="">
            </div>
        </div>
    </div>

    <!-- Quote -->
    <div class="mb-2 bg-primary">
        <h1 class="quote text-light p-4">The world's largest marketplace for underground streetwear</h1>
    </div>    

        <!-- Main Body -->
    <div class="popular-brands m-3">
        <h4>Popular Brands</h4>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/streetwear/Supreme-Steiff-Bear-Heather-Grey.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1545312775" alt="">
                </div>
                <div class="card-header">
                    Supreme Steiff Bear Heather Grey
                    <h3>$195</h3>
                </div>
            </div>
        </div>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/streetwear/OFF-WHITE-Industrial-Belt-Yellow-Black.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1558717578" alt="">
                </div>
                <div class="card-header">
                    OFF-WHITE Industrial Belt
                    <h3>$189</h3>
                </div>
            </div>
        </div>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/streetwear/Supreme-Box-Logo-Crewneck-FW18-Black.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1544101609" alt="">
                </div>
                <div class="card-header">
                    Supreme Box Logo Crewneck (FW18)
                    <h3>$524</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="popular-brands m-3">
        <h4>Most Likes</h4>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/handbags/Louis-Vuitton-Multiple-Wallet-Damier-Graphite-Canvas-Black-Grey.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=auto&trimmd=1&q=90&dpr=2&updated_at=1538080256" alt="">
                </div>
                <div class="card-header">
                    Louis Vuitton Multiple Wallet
                    <h3>$430</h3>
                </div>
            </div>
        </div>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/Louis-Vuitton-Kanye-West-Jaspers-Grey-Pink-2009.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1538080256" alt="">
                </div>
                <div class="card-header">
                    Louis Vuitton Jaspers Kanye
                    <h3>$12,805</h3>
                </div>
            </div>
        </div>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/handbags/Louis-Vuitton-x-Supreme-Danube-Epi-Supreme-PM-Black-Studio-1.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=auto&trimmd=1&q=90&dpr=2&updated_at=1538080256" alt="">
                </div>
                <div class="card-header">
                    Louis Vuitton x Supreme Danube
                    <h3>$4,100</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>    
    <div class="popular-brands m-3">
        <h4>High Demand</h4>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/streetwear/Supreme-Brick-Brick.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1538082009" alt="">
                </div>
                <div class="card-header">
                    Supreme Clay Brick Red
                    <h3>$159</h3>
                </div>
            </div>
        </div>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/streetwear/Supreme-Brick-Brick.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1538082009" alt="">
                </div>
                <div class="card-header">
                    Supreme Clay Brick Red
                    <h3>$159</h3>
                </div>
            </div>
        </div>
        <div class="popular-brand-imgs inline-block">
            <div class="card box-shadow m-5 inline-block" style="max-width: 15rem;">
                <div class="card-body">
                    <img class="small-img" src="https://stockx.imgix.net/products/streetwear/Supreme-Brick-Brick.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1538082009" alt="">
                </div>
                <div class="card-header">
                    Supreme Clay Brick Red
                    <h3>$159</h3>
                </div>
            </div>
        </div>
    </div>

        <!-- Footer -->
	<section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Recent updates</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Popular releases</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Founders</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Angelo Liwanag</a></li>
                        <li><a>Jaden Pham</a></li>
                        <li><a>Teng Rithy Khling</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul>
                    <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a>Stock Palace</a></u> is a start up company that was inspired by Stockx. All rights reserved by Angelo Liwanag, Jaden Pham and Teng Rithy Khling</p>
                </div>
            </div>	
        </div>
    </section>