<div class="confirmation inline-block">
    <div class="m-5 shadow-lg p-5 mb-5 bg-white rounded confirmation-size inline-block">
        <h4>Thank you for your purchase! A confirmation email will be sent to you shortly.</h4>
    </div>
</div>
<div class="mt-5 inline-block quote">
    <blockquote class="blockquote">
        <p class="mb-0 fade-in">"Some people think happiness is a lucury, but it's a necessity. You need to make space for it in your life."</p>
        <footer class="blockquote-footer fade-in"><cite title="Source Title">Christie Brinkley</cite></footer>
    </blockquote>
</div> 
            <!-- Footer -->
	<section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Recent updates</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Popular releases</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Founders</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Angelo Liwanag</a></li>
                        <li><a>Jaden Pham</a></li>
                        <li><a>Teng Rithy Khling</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul>
                    <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a>Stock Palace</a></u> is a start up company that was inspired by Stockx. All rights reserved by Angelo Liwanag, Jaden Pham and Teng Rithy Khling</p>
                </div>
            </div>	
        </div>
    </section>
